*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Bebas Neue', cursive;
}
a{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
}
ul{
    list-style: none;
}
.active{
    color: #00b400;
    text-decoration: none;
    font-weight: bold;
}
body , html{
    overflow-x: hidden;
}
/* aca empieza nav */
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
    z-index: 13;
}
.navbar .logo{
    width: 60px;
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 30px;
}
/* aca termina nav */
header{
    width: 100%;
    background-size: cover;
    top: 0;
}
.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    width: 100%;
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 550px + 5.5em);

}

.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}

.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.slide-item img {
    display: block;
    height: auto;
    width: 100%;
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}

header{
    width: 100%;
}

.ctn{
    padding: 8px 15px;
    background: #04D939;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: whitesmoke;
    font-family: sans-serif;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/* aca empieza primer cuerpo */
section{
    width: 80%;
    margin: 80px auto;
}
.title h1{
    text-align: center;
    font-size: 4vmin;
    color: #025939;
    font-size: 3.7rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}
.row .col img{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events .row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
    color: #012340;
    font-weight: 600;
    line-height: .4;
}
.title p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
}
p{
    color: #050505;
    padding: 0px 6px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 5px 25px;
}
.events .ctn{
    margin-top: 30px;
}
/* aca termina primer cuerpo */

/* aca comienza segundo cuerpo */
.explore{
    width: 100%;
    height: 80vh;
    background-image: url(../img/ima6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content{
    width: 60%;
    padding: 50px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.explore-content h1{
    font-size: 3.7rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
}
.explore-content .line{
    margin-bottom: 50px;
}
.explore-content p{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.explore-content .ctn{
    margin-top: 40px;
}
/* aca termina segundo cuerpo */

/* aca empieza tercer cuerpo */
.content-col{
    width: 40%;
}
.image-col{
    width: 60%;
}
.tours .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}  
.image-gallery img{
    max-width: 300px;
    margin: 10px;
}
.content-col h1{
    color: #38383d;
    font-size: 3.7rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
}
.content-col .line{
    margin-left: -1px;
}
.content-col p{
    padding: 0;
    margin: 30px auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.content-col .ctn{
    margin-left: -100px;
}
/* aca termina tercer cuerpo */
.todito{
    margin: 0;
    padding: 0;
    min-height: 75vh;
    background-image: url('../img/ima6.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
}
.container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card{
    position: relative;
    cursor: pointer;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #04d939;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #03a63ca8;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 130px;

}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px;
}

.container .card .face.face2 .content a:hover{
    background: rgb(206, 204, 204);
    color: rgb(11, 105, 11);
}
/* footer */
.containers{
	max-width: 1170px;
	margin:auto;
}
.rown{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #03A63C;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
.footer{
    text-align: center;
    justify-content: center;
    align-items: center;
}
}


/* media query */
@media only screen and (max-width:570px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgba(46, 139, 86, 0.788);
        margin-top: -900px;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 40%;
    }
    .nav-links li{
        margin: 30px auto;
    }
    .slide-inner{
        height: calc( 230px + 2.3em);
    }
    
    /* cuerpo */
    .row{
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    .col img{
        max-width: 90%;
    }
    .slide-inner{
        height: calc( 200px + 2em);
    }
    .explore-content{
        width: 100%;
    }
    .tours .col{
        width: 100%;
    }
    .image-gallery{
        justify-content: center;
        align-items: center;
    }
    .image-gallery img{
        width: 90%;
    }
    .todito{
    align-items: center;
        display: flex;
        justify-content: center;
    }
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
@media only screen and (max-width:980px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgba(46, 139, 86, 0.788);
        margin-top: -900px;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 40%;
    }
    .nav-links li{
        margin: 30px auto;
    }
    .slide-inner{
        height: calc( 250px + 2.5em);
    }
    .header-content{
        margin-top: -350px;
    }
    .header-content p{
        margin-bottom: 50px;
        font-family:Helvetica;
        color: #fff;
    }
    .header-content h1{
        font-size: 9vmin;
        margin-top: 50px;
        margin-bottom: 30px;
        color: #ffffff;
    }
    
    /* cuerpo */
    .row{
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    .col img{
        max-width: 90%;
    }

    .explore-content{
        width: 100%;
    }
    .tours .col{
        width: 100%;
    }
    .image-gallery{
        justify-content: center;
        align-items: center;
    }
    .image-gallery img{
        width: 90%;
    }
    
}

/* animación */
.image-gallery img{
    transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
    -moz-transition: transform .3s ease;
    -ms-transition: transform .3s ease;
    -o-transition: transform .3s ease;
}
.image-gallery img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 2px 2px 5px black;
}
.row .col img{
    transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
    -moz-transition: transform .3s ease;
    -ms-transition: transform .3s ease;
    -o-transition: transform .3s ease;
}
.row .col img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 2px 2px 5px black;
}
.ctn:hover{
    background: whitesmoke;
    color: #04D939;
    box-shadow: 2px 2px 5px black;
}